/* style.css */
@charset "utf-8";
 
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック', meiryo, sans-serif;    /* フォント */
}
/* ヘッダ */
header{
    background-color: royalblue;
    color: white;
}
header h1{
    font-size: 24pt;
    padding: 20px 3em;
    line-height: 1.7em;
    letter-spacing: .2em;
    text-align: justify;
}
/* コンテンツ */
div#contents{
    font-size: 16pt;
    background-color: white;
    width: 800px;
    margin: 1em auto;
    padding: 0;
}
div#contents p{
    line-height: 1.7em;
    letter-spacing: .2em;
    text-align: justify;
}
/* フッタ */
footer{
    text-align: right;
    padding: 20px 40px;
    font-size: 14pt;
    background-color: royalblue;
    color: white;
}
/* 汎用タグ */
small{
    font-size: 14pt;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: yellow;
}
 
/* リンクボタン部分 */
.simple-link{
    box-shadow: 3px 3px 7px #ddd;    /* ボタンの影 */
    padding: 10px;
    margin-bottom: 0.5em;
    transition: all 0.3s ease 0s;    /* イベント毎の表示を0.3秒後にする*/
}
 
.simple-link:hover{    /* マウスが乗ったとき */
    box-shadow: 3px 3px 7px #555;    /* 少し影を濃く */
    transform: translateY(-0.18em);    /* 上方向に少し移動 */
}
 
 
.simple-link p.title{        /* サイトタイトルの文字色 */
    font-size: 1.2em;
    font-weight: 900;
    color: #333;
}
.simple-link p.description{        /* 説明文の文字色 */
    font-size: 0.8em;
    color: #555;
}
 
/* メディアクエリ設定 */
@media screen and (min-width:376px) and (max-width:960px) {
/* タブレット用のcssを記述 */
    header h1{
        padding: 20px;
        text-align: center;
        font-size: 16pt;
    }
    div#contents{
        width: auto;
        margin: 10px 10px;
        padding: 1em;
        font-size: 14pt;
    }
    footer{
        padding: 20px;
        text-align: center;
    }
    p.title{
        font-size: 1.1em;
        font-weight: 900;
        color: #555;
    }
}
 
@media screen and (max-width:376px) {
/* スマホ用のcssを記述 */
    header h1{
        padding: 20px;
        text-align: center;
        font-size: 14pt;
    }
    div#contents{
        width: auto;
        margin: 0 0;
        padding: 5px 10px;
        font-size: 12pt;
    }
    footer{
        padding: 20px;
        text-align: center;
    }
    small{
        font-size: 11pt;
    }
    p.title{
        font-size: 1.0em;
        font-weight: 900;
        color: #555;
    }
}